@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
a{
  color: black !important
}

.logo, h2{
  font-family: 'Grand Hotel', cursive;
  font-size: 24px;
}

.mycard{
 margin-top: 30px
}
.auth-card{
  padding:20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}


.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.item{
  width: 30%;
 margin-bottom: 20px;
}

.home-card{
  max-width: 500px;
  height: max-content;
  margin:26px auto;
}

#toast-container{
  top:30px !important;
  right: 20px !important;
  left: auto !important;
}

.material-icons:hover{
  cursor: pointer;
}

.loading{
  text-align: center;
}

.collection-item:hover{
  cursor: pointer;
}

.collection-item{
width: 100%
}

.navbar-main{
  display: flex;
  background-color: white;
  align-items: center;
  width: 100%}
.nav-ul{
  display: flex;
  flex-direction: row;
  flex: 1;
}
.nav-li{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-li:hover{
  background-color: white;
}

.profile-navlink{
  height: 28px;
  width: 28px;
  border-radius: 14px;
}
.profile-navlink-selected{
  height: 30px;
  padding: 1px;
  width: 30px;
  border-radius: 15px;
  border: solid #000;
  border-width: 2px;
}

.icon{
  color:black;
  font-size: 28px
}

@media all and (max-width: 400px) {  
  .nav-ul {  
    flex-wrap: wrap;  
  }  
  .navbar-main{
    min-height: 100px;
  }
  .nav-ul > li {  
    flex-basis: 50%;  
  }

}
@media all and (max-width: 150px) {  
  .nav-ul > li {  
    flex-basis: 100%;  
  }  
  .nav-ul {  
    flex-wrap: wrap;  
  }  
  .navbar-main{
    min-height: 150px;
  }
}